h1 {
  color: var(--title-color);
}

h2 {
  color: var(--title-color);
}

h3 {
  color: var(--title-color);
}

p {
  font-family: 'Inter', sans-serif;
  color: var(--p-color);
  line-height: 1.7;
}

strong {

}

ul {
  padding-left: 17px;
  line-height: 1.7;
  color: var(--title-color);
}

ol {
  padding-left: 17px;
  line-height: 1.7;
  color: var(--title-color);
}

.footnote,
.reversefootnote {
  color: rgb(161, 132, 0) !important;
}

.footnote:hover,
.reversefootnote:hover {
  color: rgb(255, 208, 0) !important;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

.section-post a:hover {
  text-decoration: underline;
}

blockquote p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  line-height: 25px;
  border-radius: 0px 5px 5px 0px;
  color: var(--blockquote-text-color);
  background-color: var(--blockquote-background-color);
  border-left: 2px solid var(--a-color);
}
