h1 {
  color: var(--title-color);
}

h2 {
  color: var(--title-color);
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-size: 30px;
}

h3 {
  color: var(--title-color);
}

p {
  font-family: 'Inter', sans-serif;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 600;
  color: var(--p-color);
  line-height: 1.7;
}

ul {
  padding-left: 17px;
  line-height: 1.7;
  color: var(--title-color);
}

ol {
  padding-left: 17px;
  line-height: 1.7;
  color: var(--title-color);
}

.footnote,
.reversefootnote {
  color: rgb(161, 132, 0) !important;
}

.footnote:hover,
.reversefootnote:hover {
  color: rgb(255, 208, 0) !important;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

.section-post a:hover {
  text-decoration: underline;
}

blockquote p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  line-height: 25px;
  border-radius: 0px 5px 5px 0px;
  color: var(--blockquote-text-color);
  background-color: var(--blockquote-background-color);
  border-left: 2px solid var(--a-color);
}

/* pre {
  color: red;
  background-color: rgba(255, 174, 136, 0.198);
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 10px 10px;
} */

/* code {
  background-color: rgba(255, 174, 136, 0.198);
  color: rgb(255, 106, 106);
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 5px;
} */

/* TODO: This is all temporary. Delete it when you can implement
a better way to present code inline. */
pre, code {
  font-family: 'Courier New', Courier, monospace, monospace;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: 5px;
  opacity: 0.8;
}
code {
  padding: 3px;
}
pre {
  background-color: var(--code-bg-color);
  overflow: scroll;
  padding: 10px;
}
pre > code {
  background-color: var(--code-bg-color);
  display: block;
  border: none;
}