h1 {
  margin-top: 50px;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 52px;
  margin-bottom: -20px;

  color: var(--h1-color);
}

h2 {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

strong {
  color: black;
}

ul {
  padding-left: 17px;
  line-height: 1.7;
  font-weight: normal;
  color: rgba(195, 195, 195, 0.685);
}

ol {
  padding-left: 17px;
  line-height: 1.7;
  font-weight: normal;
  color: rgba(195, 195, 195, 0.685);
}

.footnote,
.reversefootnote {
  color: rgb(161, 132, 0) !important;
}

.footnote:hover,
.reversefootnote:hover {
  color: rgb(255, 208, 0) !important;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

.section-post a:hover {
  text-decoration: underline;
}

p {
  /* color: rgb(180, 180, 180); */
  color: var(--p-color);
  line-height: 1.7;
  font-weight: normal;
}

blockquote p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  line-height: 25px;
  border-radius: 0px 5px 5px 0px;
  color: var(--blockquote-text-color);
  background-color: var(--blockquote-background-color);
  border-left: 2px solid #0057FF;
}
