.section-notes {
    max-width: 650px;
    margin-top: 50px;
}

.section-notes .section-title {
    color: var(--title-color);
    font-size: 52px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 980px) {
    .section-notes .section-title {
        font-size: 32px;
    }
}