html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
}

:root {
  background-color: #eff6ee;
  color: #1f251e;
  /* background-color: black;
  color: white; */
}

body {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}

.hero-section,
.about-section {
  margin: 0 auto;
  box-sizing: border-box;
}

.hero-section {
  max-width: 1200px;
  padding-top: 96px;
}

.section-logo {
  text-align: center;
}

.hero-logo {
  margin: 0 auto;
  width: 280px;
}

.section-text {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.name-info,
.about-button {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -3%;
}

.name-info {
  font-weight: bold;
  height: auto;
  left: 0;
}

.opacity-50 {
  opacity: 50%;
}

.about-section {
  max-width: 1536px;
}

.about-text {
  padding-top: 300px;
  max-width: 660px;
  margin: 0 auto;
}

.about-text > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 128px;
}

.about-text > p {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
}

.work-grid {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}

.work-entry {
  padding: 40px;
  flex-grow: 1;
  cursor: pointer;
  background-color: rgba(10, 70, 18, 0.027);
  color: rgb(10, 70, 18);
  margin: 4px;
  width: 1px;
  border-radius: 4px;
  transition: 0.08s ease-in-out;
}

.work-entry > .role,
.work-entry > .company,
.work-entry > .date-range {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.work-entry > .role {
  min-height: 80px;
}

.work-entry > .description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.work-entry:hover {
  /* background-color: rgba(10, 70, 18, 0.164);
  color: rgb(10, 70, 18);
  background-color: rgb(255, 136, 0); */
  background-color: rgb(208, 255, 0);
  color: black;
  transform: scale(1.02);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pill {
  background-color: rgb(208, 255, 0);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 400px;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 128px;
  color: black;
}

.circle {
  background-color: black;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 100%;
  float: left;
}

.miami {
  margin-top: 300px;
  color: black;
  font-size: 250px;
  font-weight: bold;
  line-height: 100%;
  background: linear-gradient(
      17deg,
      rgba(255, 40, 40, 0.8),
      rgba(255, 0, 0, 0.5) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 2s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
}
