:root {
  /* Tells the browser engine that the color scheme should use the user's preference based
    on their system color scheme. */
  /* color-scheme: light dark; */

  /* Color variables. */
  --h1-color: black;
  --p-color: black;
  --a-color: #0057ff;
  --blockquote-text-color: black;
  --blockquote-background-color: #eaf1ff;
}

::selection {
  background: rgb(255, 255, 186); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(255, 255, 186); /* Gecko Browsers */
}

/* Switch colors for dark mode users. */
@media (prefers-color-scheme: dark) {
  :root {

  }
}


body {
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  padding-bottom: 100px;
  background-color: rgba(215, 223, 213, 0.089);
}

.home-main {
  margin-top: 50px;
  /* background-color: rgba(173, 216, 230, 0.157); */
}

.home-main .title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
}

.home-main .subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 500px;
}

.descriptive-link {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  color: black;
}

.home-secondary {
  margin: auto;
  margin-top: 100px;
  max-width: 500px;
}

.home-secondary .title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}

hr {
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

/* Other */

/* Logo */

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  top: 15px;
  left: 0;
  right: 0;
}

.logo:hover {
  cursor: pointer;
}

.logo-container {
  text-align: center;
}

/* Navigation */

nav {
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

nav .icon {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 2px;
}

.notes-icon-lg {
  vertical-align: middle;
  margin-top: -15px;
  margin-right: 2px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

nav li {
  float: right;
}

nav li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: black;
  padding: 10px 10px;
}

.nav-active {
  color: #0057FF;
  stroke: #0057FF;
}

/* Mobile */
@media (max-width: 980px) {
  body {
    padding-top: 70px;
  }

  .home-main .title {
    font-size: 36px;
  }
  
  .home-main .subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .home-secondary .title{
    font-size: 32px;
  }
  
  .descriptive-link {
    font-size: 12px;
  }

  section {
    padding-left: 5px;
    padding-right: 5px;
  }

  .logo {
    top: 15px;
    left: 15px;
    right: auto;
  }

  nav {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #EAF1FF;
    background: rgba(234, 241, 255, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);

    border-top: 1px solid rgba(234, 241, 255);
  }
  
  nav ul {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 0 10px;
    width: 60px;
    overflow: hidden;
  }
  
  nav .icon {
    margin: 0;
  }

  nav ul li a {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}