body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(20, 20, 20);
    text-rendering: optimizeLegibility;
    color: white;
    padding: 20px;
}

hr {
    border: 1px solid rgba(255, 208, 0, 0.356);
}

/* Hiding the arrow for now. */
img {
    display: none;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 52px;
    text-align: center;
}

h1:hover {
    color: rgb(255, 255, 0);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: rgb(195, 195, 195);
    line-height: 1.5;
}

.secondary-button {
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background-color: rgb(30, 30, 30);
    color: white;

    /* Fix later. Transition causes default button background color to appear for a split second. */
    /* transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease; */
}

.secondary-button:hover {
    /* color: rgb(255, 255, 0); */
    background-color: rgb(83, 70, 18);
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

.articles-container {
    max-width: 1000px;
    margin: 40px auto 10px auto;
}

.article {
    position: relative;
    padding: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    height: 150px;
    border-radius: 8px;
    background-color: rgb(30, 30, 30);

    transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -moz-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -webkit-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -o-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
}

.article:hover {
    color: rgb(255, 255, 0);
    background-color: rgb(58, 49, 13);
    cursor: pointer;
}

@media (min-width: 950px) {
    .articles-container {
        display: flex;
        justify-content: space-between;
    }
    
    .article {
        width: 300px;
        height: 200px;
    }

    .article:hover {
        transform: translateY(-5px);
        color: rgb(255, 255, 0);
        background-color: rgb(58, 49, 13);
        cursor: pointer;
    }
}

.date-badge {
    line-height: 0px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 148, 148);
    background-color: rgba(77, 77, 77, 0.274);
    padding: 6px;
    border-radius: 10px;
}

.arrowIndicatorCircle {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: 10px;
    right: 10px;
}

.article:hover > .arrowIndicatorCircle {
    border: 2px solid rgba(255, 255, 0, 0.644);
}

.article:hover > .date-badge {
    color: yellow;
    background-color: red;
}

.arrowIndicatorArrow {
    position: absolute;
    width: 20px;
    transform: rotate(315deg);
    margin: 0 auto;
    bottom: 5px;
    right: 5px;
}












/* 
body {
    font-family: Helvetica, sans-serif;
    background-color: lightblue;
}

h1 {
    color: #0000003a;
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
}

a {
    text-decoration: none;
    color: black;
}

section {
    margin: auto;
    width: 90%;
}

button {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -moz-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -webkit-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -o-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
    background-color: #ECFFF1;
    color: #28C147;
    cursor: pointer;
    border: rgb(16, 202, 16) solid 2px;
    box-shadow: 0px 3px 10px rgba(17, 245, 25, 0.404);
}

.article {
    position: relative;
    background-color: white;
    width: 20vw;
    height: 20vw;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -moz-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -webkit-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
    -o-transition: transform 0.2s ease, background-color 0.2s ease, color 0.05s ease, box-shadow 0.2s ease;
}

.article:hover {
    transform: translateY(-5px);
    background-color: #ECFFF1; 
    color: #28C147;
    cursor: pointer;
    border: rgb(16, 202, 16) solid 2px;
    box-shadow: 0px 5px 15px rgba(17, 245, 25, 0.404);
}


.arrowIndicatorCircle {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: 10px;
    right: 10px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.article:hover > .arrowIndicatorCircle {
    background: radial-gradient(137.5% 137.5% at 70% 32.5%, 
              rgba(0, 255, 25, 0.57) 0%, rgba(18, 178, 214, 0.46) 100%);
    transform: rotate(-5deg);
    border: rgb(16, 202, 16) solid 2px;
    box-shadow: 0px 5px 15px rgba(17, 245, 25, 0.404);
}

.arrowIndicatorArrow {
    position: absolute;
    width: 20px;
    transform: rotate(315deg);
    margin: 0 auto;
    bottom: 5px;
    right: 5px;
} */