---
layout: default
---

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style-about.css"/>

<body>
    <section class="section-about">
        <div class="title">
            <span class="title-tag">About Me</span>
            <br>
            My Whole Deal
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <!-- <img src="{{site.baseurl}}/assets/images/goodfellas-gif.gif" style="width: 100%; border-radius: 5px"> -->
        </div>
        <div class="text-subblock">
            <h1>What led you into design?</h1>
            <p>The catalyst was probably seeing the first iPhone. My friend's mom had one and I was just enamored by it. It was 
                one of those things you wanted really badly, and I think it was the first time I experienced software that
                was designed with so much thought. When I finally got one of my own (it was an iPhone 4), I'd literally just
                download apps all day. Though I didn't realize it then, I was setting myself up for an appreciation of great software.
            </p>
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <!-- <img src="{{site.baseurl}}/assets/images/code-presentation.png" style="width: 100%;"> -->
        </div>
        <div class="text-subblock">
            <h1>What does a typical day look like for you?</h1>
            <p>After waking up and staring at my phone for way too long, I'll walk out onto my balcony to 
                stretch and think for a bit - preparing myself mentally for the day. Breakfast follows. I'll then catch up
                on some sprint work and do email stuff. For lunch, I'll cook up the fanciest thing I can think of with the
                not-so-fancy ingredients in my fridge. Work a bit more, do meetings, more email stuff. You get it. After work
                I'll practice some React or work on my website or get away from tech altogether by biking through the beautiful
                Washington D.C. When that's over with I'll finish, the day with a good movie or book.
            </p>
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <!-- <img src="{{site.baseurl}}/assets/images/notion-test-3.png" style="width: 100%;"> -->
        </div>
        <div class="text-subblock">
            <h1>What's your setup?</h1>
            <p>I won't bore you with my corporate work setup, but my personal Macbook Air is a garden I constantly tend to.
                My main browser is Safari, but for development I've been loving Brave. For general notes and todos, I've been
                hooked on Notion, and for real writing and thought synthesizing, Roam is where it's at. Surprising nobody, my go-to
                editor and mock-up software are VS Code and Figma.
            </p>
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <!-- <img src="{{site.baseurl}}/assets/images/notion-test-3.png" style="width: 100%;"> -->
        </div>
        <div class="text-subblock">
            <h1>Where do you go to get inspired?</h1>
            <p>All over the web. Twitter's a great place for following small communities and passionate and friendly designers. Siteinspire.com
                curates tons of beautifully designed site, so sometimes I'll go there. But a lot of the time I'll just play with CSS. It's
                like painting. The more I practice it, the more I'm inspired by what I can do with it.
            </p>
        </div>
    </section>
</body>