---
layout: default
---

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style-about.css"/>

<body>
    <section class="section-about">
        <div class="title">
            <span class="title-tag">About Me</span>
            <br>
            How I Got Here and Where I Wanna Go
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <img src="{{site.baseurl}}/assets/images/goodfellas-gif.gif" style="width: 100%; border-radius: 5px">
        </div>
        <div class="text-subblock">
            <p>As far back as I can remember, I always wanted to be a creator.
            </p>
            <p>When I was ten,
                I drew cartoon portraits of my friends in class. They weren't good, but they were unique.
            </p>
            <p>When I was fifteen, I found Instagram and got into photography. Two of my shots
                were featured on an <a href="https://kmpblog.com/2011/03/sxsw-2011-briskpics/" target="blank">
                SXSW-exclusive can of Brisk Iced Tea</a>.
            </p>
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <img src="{{site.baseurl}}/assets/images/code-presentation.png" style="width: 100%;">
        </div>
        <div class="text-subblock">
            <p>My creative interests changed constantly growing up, but all along, great software
                accompanied me. 
            </p>
            <p>I believe the only way to know how to create fantastic software is to use it as much
                as possible.
            </p>
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <img src="{{site.baseurl}}/assets/images/notion-test-3.png" style="width: 100%;">
        </div>
        <div class="text-subblock">
            <p>Alright sweet so this is some text. It's gonna go pretty nicely next to this image here.
                It's gonna serve as not really like a caption to the image, but a portion of the story
                of my life and career as a developer and creator. In fact, the image is more like the
                caption to the text!
            </p>
        </div>
    </section>
</body>