---
layout: default
---

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style-about.css"/>

<body>
    <section class="section-about">
        <div class="title">
            <span class="title-tag">About Me</span>
            <br>
            How I Got Here and <br>Where I Wanna Go
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <img src="{{site.baseurl}}/assets/images/notion-test.png" style="width: 100%;">
        </div>
        <div class="text-subblock">
            <p>Alright sweet so this is some text. It's gonna go pretty nicely next to this image here.
                It's gonna serve as not really like a caption to the image, but a portion of the story
                of my life and career as a developer and creator. In fact, the image is more like the
                caption to the text!
            </p>
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <img src="{{site.baseurl}}/assets/images/notion-test-2.png" style="width: 100%;">
        </div>
        <div class="text-subblock">
            
        </div>
    </section>

    <section class="image-text-block">
        <div class="image-subblock">
            <img src="{{site.baseurl}}/assets/images/notion-test-3.png" style="width: 100%;">
        </div>
        <div class="text-subblock">
            
        </div>
    </section>
</body>