---
layout: default
---

<section class="books-section">
    <ul class="bookshelf">
        <li class="shelf-item">
            <div class="book-title">Into the Wild</div>
            <div class="book-author">Jon Krakauer</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">How to Take Smart Notes</div>
            <div class="book-author">Sönke Ahrens</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Catch-22</div>
            <div class="book-author">Joseph Heller</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Ocean at the End of the Lane</div>
            <div class="book-author">Neil Gaiman</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Design of Everyday Things</div>
            <div class="book-author">Don Norman</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Kafka on the Shore</div>
            <div class="book-author">Haruki Murakami</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Periodic Table</div>
            <div class="book-author">Primo Levi</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Introduction to the Theory of Computation</div>
            <div class="book-author">Michael Sipser</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Restaurant at the End of the Universe</div>
            <div class="book-author">Douglas Adams</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Foundation</div>
            <div class="book-author">Isaac Asimov</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Maus I: A Survivor's Tale</div>
            <div class="book-author">Art Spiegelman</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Hard-Boild Wonderland and the End of the World</div>
            <div class="book-author">Haruki Murakami</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Sun Also Rises</div>
            <div class="book-author">Ernest Hemingway</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Cat's Cradle</div>
            <div class="book-author">Kurt Vonnegut</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Blink</div>
            <div class="book-author">Malcolm Gladwell</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Travels with Charley: In Search of America</div>
            <div class="book-author">John Steinbeck</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Harry Potter and the Prisoner of Azkaban</div>
            <div class="book-author">J.K. Rowling</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Metamorphosis</div>
            <div class="book-author">Franz Kafka</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Crucible</div>
            <div class="book-author">Arthur Miller</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Slaugherthouse-Five</div>
            <div class="book-author">Kurt Vonnegut</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">In Praise of Shadows</div>
            <div class="book-author">Jun'ichirō Tanizaki</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Old Man and the Sea</div>
            <div class="book-author">Ernest Hemingway</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">A Hunger Artist</div>
            <div class="book-author">Franz Kafka</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Fight Club</div>
            <div class="book-author">Chuck Palahniuk</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Anthem</div>
            <div class="book-author">Ayn Rand</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Survivor</div>
            <div class="book-author">Chuck Palahniuk</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Great Gatsby</div>
            <div class="book-author">F. Scott Fitzgerald</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Candide</div>
            <div class="book-author">Voltaire</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Breakfast of Champions</div>
            <div class="book-author">Kurt Vonnegut</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Trial</div>
            <div class="book-author">Franz Kafka</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Hitchhiker's Guide to the Galaxy</div>
            <div class="book-author">Douglas Adams</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Curious Incident of the Dog in the Night-Time</div>
            <div class="book-author">Mark Haddon</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Brave New World</div>
            <div class="book-author">Aldous Huxley</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Foundation</div>
            <div class="book-author">Isaac Asimov</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Harry Potter and the Sorcerer's Stone</div>
            <div class="book-author">J.K. Rowling</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Alchemist</div>
            <div class="book-author">Paulo Coelho</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">1984</div>
            <div class="book-author">George Orwell</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Harry Potter and the Chamber of Secrets</div>
            <div class="book-author">J.K. Rowling</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Accidental Billionaires</div>
            <div class="book-author">Ben Mezrich</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Mr. Penumbra's 24-Hour Bookstore</div>
            <div class="book-author">Robin Sloan</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Of Mice and Men</div>
            <div class="book-author">John Steinbeck</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">The Call of Cthulhu</div>
            <div class="book-author">H.P. Lovecraft</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Make It Stick</div>
            <div class="book-author">Peter C. Brown</div>
        </li>
        <li class="shelf-item">
            <div class="book-title">Hamlet</div>
            <div class="book-author">William Shakespeare</div>
        </li>
    </ul>
</section>