<!-- 
    This will be the default layout of every page.
    Meaning: it will contain both the navbar and the footer that should
    remain consistent across pages.
    
    TODO: Create a navbar (different for mobile and desktop).
    TODO: Consider a footer (but probably not necessary for this design).
-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
  </head>
  <body>
    <section>
      <a href="/"><h1>Daniel Ohana</h1></a>
    </section>
    {{ content }}
  </body>
</html>