<!-- 
    This will be the default layout of every page.
    Meaning: it will contain both the navbar and the footer that should
    remain consistent across pages.
    
    TODO: Create a navbar (different for mobile and desktop).
    TODO: Consider a footer (but probably not necessary for this design).
-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <title>Daniel Ohana</title>
  </head>
  <body>
    <section>
      <a href="/"><h1>Daniel Ohana</h1></a>
    </section>
    {{ content }}
  </body>
</html>