---
layout: default
---

<body>

    <section>
        <h2>Thoughts About Things</h2>
        <hr>

        <div class="articles-container">
                {% for post in site.posts limit: 3 %}
                    {% assign date = post.date | date: '%m.%d.%Y' %}
                    <a href="{{ site.baseurl }}{{ post.url }}">{% include article.html postTitle=post.title postDate=date %}</a>
                {% endfor %}
        </div>
    </section>

    <section>
        <h2>My Whole Story</h2>
        <hr>

        <p>
            Right now I'm a Software Engineer at GEICO.
        </p>
    </section>



    <!-- <a href="/"><button>All</button></a> -->

    <!-- <section style="background-color: darkblue;">
        <h1>Who I Am</h1>
        <h2>
            I’m a Software Engineer currently living in Washington D.C. 
            Interested in designing software and creating it.
        </h2>
        <h2>
            Graduated from<br>
            The University of Central Florida<br>
            React Nanodegree Program (Udacity)<br><br>
            
            Hobbies include<br>
            Climbing<br>
            Watching films<br>
            Reading books<br>
        </h2>
        &copy; to me
    </section> -->
</body>