---
layout: default
---

<body>
    <section class="home-main">
        <div class="title">Daniel Ohana</div>
        <div class="subtitle">
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
        </div>
        <a href="/about" class="more-about-me">More about me --></a>       <div class="title">Daniel Ohana</div>
        <div class="subtitle">
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
        </div>
        <a href="/about" class="more-about-me">More about me --></a>       <div class="title">Daniel Ohana</div>
        <div class="subtitle">
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
        </div>
        <a href="/about" class="more-about-me">More about me --></a>       <div class="title">Daniel Ohana</div>
        <div class="subtitle">
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
        </div>
        <a href="/about" class="more-about-me">More about me --></a>       <div class="title">Daniel Ohana</div>
        <div class="subtitle">
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
            This is a summary of the about me page.
        </div>
        <a href="/about" class="more-about-me">More about me --></a>

        <!-- <div class="articles-container">
            {% for post in site.posts limit: 3 %}
                {% assign date = post.date | date: '%m.%d.%Y' %}
                <a href="{{ site.baseurl }}{{ post.url }}">
                    {% include article.html postTitle=post.title postDate=date %}
                </a>
            {% endfor %}
        </div> -->

        <!-- <img src="{{site.baseurl}}/assets/images/strawberries-test.jpeg" style="max-width: 350px;"> -->
    </section>
</body>