---
layout: default
---

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style-post.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/sparanoid/lightense-images@master/lightense.min.js"></script>
<body>
    <section class="section-post">
      <span class="date-badge">
        {{ page.date | date_to_long_string: "ordinal", "US" }}
      </span>
      <span class="categories">{{ page.categories }}</span>
      <div class="title">{{ page.title }}</div>
      <div class="subtitle">{{ page.subtitle }}</div>
      <hr/>
      {{ content }}
    </section>
  </body>

  </div>
</html>

<script>
  window.addEventListener('load', function () {
    Lightense('img');
  }, false);
</script>