<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets//css/standard.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets//css/sportai.css" />
  
  <!-- GoogleFonts -->
  <!-- Inter (Regular, Medium, Bold) -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700" rel="stylesheet" />
</head>
<body>
  {{content}}
</body>
</html>